* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}


/* header */
.header {
    background-color: rgb(89, 23, 95);
}

.header-image {
    border-radius: 200%;
    width: 150px;
    height: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
}

.header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 100px;
}

.headercontent {
    display: flex;

}

/* заголовки 1 уровня */
.title {
    margin-top: 20px;
    margin-bottom: 20px;
}




.ws_title {
    display: flex;
    justify-content: space-between
}

.ws__title {
    text-align: center;
    padding-right: 1000px;
}

.ws__title2 {
    text-align: center;
    padding-right: 985px;
}

.ws__title3 {
    text-align: center;
    padding-right: 975px;
}

.experience-text {
    padding: 30px 20px 30px 160px;
}

.menu_list {
    list-style-type: none;
}

.flex {
    display: flex;
}

.yulia::before {
    content: "\25A0";
    color: #b9a49e;
    font-weight: bold;
    display: inline-block;
    width: 1em;
}

.form {
    background-color: beige;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.namemail {
    padding-bottom: 5%;
}

.title_form {
    text-align: center;
    padding-bottom: 5%;
}

.namemail {
    display: flex;
    justify-content: space-between;
}

.textarea {
    text-align: center;
}

.form-email {
    background: none;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.form-name {
    background: none;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.form-message {
    background: none;
    border: none;
    border-bottom: 3px solid;
    outline: none;
}

.title-contacts {
    text-align: center;
    padding-bottom: 2%;
    padding-top: 2%;
    color: white;
}

.contactslist {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 2%;
    padding-top: 2%;
}

.contacts {
    background-color: rgb(89, 23, 95);
}


.btn{
background: rgb(89, 23, 95);
width: 180px;
height: 40px;
border: #5A98D0;
color: white;
cursor: pointer;
transition-duration: 0.4s;
transition-property: background-color;
margin-bottom: 5%;
margin-top: 2%;
}


.footer {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(89, 23, 95);
}

.phone1, .mail1, .youtube1{
    color: white;
}

.rights{
    color: white;
}

.langlist{
    margin-bottom: 2%;
}

